#circle {
    background: #27ae60;
    height:360px;
    width:360px;
    -moz-border-radius:360px;
    -webkit-border-radius:360px;

    padding:32px;
    text-align:center;
    color:#bdc3c7;
    margin: 0 auto;
}

#image {
    background-image:url(images/me.jpg);
    background-size: contain;
    height: 100%;
    width: 100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
}

body {
	background-color: #2c3e50;
}